@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.glow {
    box-shadow: 0 0 4px rgba(0, 225, 255, 0.6),
    0 0 8px rgba(0, 225, 255, 0.4),
    0 0 12px rgba(0, 225, 255, 0.2);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #1b1f22;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3a3f44;
    border-radius: 10px;
    border: 2px solid #1b1f22;
    transition: background 0.2s ease;
}


::-webkit-scrollbar-thumb:hover {
    background: #4b5056;
}


* {
    scrollbar-width: thin;
    scrollbar-color: #3a3f44 #1b1f22;
}
